Font
Inter
Weight
600
Size
36px
Line height
43.57px
Font
Inter
Weight
600
Size
48px
Line height
58.09px
4 more
#FFFFFF
#000000
#333333
#0D0D0D
#474747
3 more
/* simple-line-icons:magnifier */


position: absolute;
width: 69px;
height: 71px;
left: 303px;
top: 382px;



/* Rectangle 2 */


position: absolute;
width: 1449px;
height: 174px;
left: 0px;
top: 0px;

background: #0D0D0D;


/* ic:outline-more-horiz */


position: absolute;
width: 78px;
height: 78px;
left: 21px;
top: 40px;

background: #0D0D0D;


/* OŚWIECENIOWA CHWILOWA  VIKZA PIKSA */


position: absolute;
width: 280px;
height: 48px;
left: 1102px;
top: 61px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;



/* Vector */


box-sizing: border-box;

position: absolute;
left: 70.56%;
right: 25.45%;
top: 5.96%;
bottom: 88.43%;

background: #FFFFFF;
border: 0.5px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Vector 2 */


position: absolute;
width: 26px;
height: 9px;
left: 391px;
top: 625px;

border: 1px solid #333333;


/* Vector 1 */


position: absolute;
width: 0px;
height: 21px;
left: 427px;
top: 494px;

border: 1px solid #333333;


/* Vector 3 */


position: absolute;
width: 46px;
height: 145px;
left: 392px;
top: 494px;

background: #333333;
border: 1px solid #333333;


/* Rectangle 79 */


position: absolute;
width: 277px;
height: 290px;
left: 160px;
top: 174px;

background: rgba(255, 255, 255, 0.1);
border-radius: 0px 0px 10px 10px;


/* Spis treści */


position: absolute;
width: 183px;
height: 45px;
left: 212px;
top: 187px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 44px;

color: #FFFFFF;



/* Rectangle 80 */


box-sizing: border-box;

position: absolute;
width: 232px;
height: 6px;
left: 187px;
top: 245px;

background: #FFFFFF;
border: 1px solid #000000;


/* Rectangle 81 */


box-sizing: border-box;

position: absolute;
width: 232px;
height: 5px;
left: 187px;
top: 411px;

background: #FFFFFF;
border: 1px solid #000000;


/* I Postanowienia II Sample Text III TBD IV Succ Dicc V weasg */


position: absolute;
width: 183px;
height: 148px;
left: 187px;
top: 257px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;

color: #FFFFFF;



/* Rectangle 82 */


position: absolute;
width: 863px;
height: 850px;
left: 504px;
top: 174px;

background: #D9D9D9;
opacity: 0.1;


/* my name is Walter Hartwell White. I live at 308 Negra Arro yo Lane, Albuquerque, New Mexico, 87104. This is my con fession. If you're watching this tape, I'm probably dead– m urdered by my brother-in-law, Hank Schrader. Hank has been building a meth empire for over a year now, and usi ng me as his chemist. Shortly after my 50th birthday, he asked that I use my chemistry knowledge to cook metha mphetamine, which he would then sell using connections that he made through his career with the DEA. I was... astounded. I... I always thought Hank was a very moral man, and I was particularly vulnerable at the time – so mething he knew and took advantage of. I was reeling f rom a cancer diagnosis that was poised to bankrupt my */


position: absolute;
width: 799px;
height: 395px;
left: 587px;
top: 285px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #FFFFFF;



/* I. POSTANOWIENIA */


position: absolute;
width: 446px;
height: 58px;
left: 587px;
top: 222px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 58px;
/* identical to box height */


color: #FFFFFF;



/* II. Sample Text */


position: absolute;
width: 337px;
height: 58px;
left: 587px;
top: 688px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 58px;
/* identical to box height */


color: #FFFFFF;



/* my name is Walter Hartwell White. I live at 308 Negra Arro yo Lane, Albuquerque, New Mexico, 87104. This is my con fession. If you're watching this tape, I'm probably dead– m urdered by my brother-in-law, Hank Schrader. Hank has been building a meth empire for over a year now, and usi ng me as his chemist. Shortly after my 50th birthday, he asked that I use my chemistry knowledge to cook metha mphetamine, which he would then sell using connections */


position: absolute;
width: 784px;
height: 268px;
left: 587px;
top: 752px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #FFFFFF;



/* Group */


position: absolute;
left: 2.57%;
right: 94.24%;
top: 19.82%;
bottom: 75.68%;



/* Vector */


position: absolute;
left: 2.36%;
right: 94.44%;
top: 90.43%;
bottom: 5.08%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 2.46%;
right: 94.54%;
top: 32.03%;
bottom: 63.48%;

background: #FFFFFF;


/* Rectangle 88 */


position: absolute;
width: 128px;
height: 857px;
left: -9px;
top: 174px;

background: #0D0D0D;


/* Rectangle 89 */


box-sizing: border-box;

position: absolute;
width: 141px;
height: 104px;
left: -22px;
top: 389px;

background: #595959;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Group */


position: absolute;
left: 2.57%;
right: 94.24%;
top: 19.82%;
bottom: 75.68%;



/* Vector */


position: absolute;
left: 2.36%;
right: 94.44%;
top: 90.43%;
bottom: 5.08%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 2.57%;
right: 94.24%;
top: 40.82%;
bottom: 54.69%;

background: #FFFFFF;


/* Group */


position: absolute;
left: 2.57%;
right: 94.24%;
top: 19.82%;
bottom: 75.68%;



/* Vector */


position: absolute;
left: 2.36%;
right: 94.44%;
top: 90.43%;
bottom: 5.08%;

background: #FFFFFF;


/* Group */


position: absolute;
left: 2.57%;
right: 94.24%;
top: 19.82%;
bottom: 75.68%;



/* Vector */


position: absolute;
left: 2.36%;
right: 94.44%;
top: 90.43%;
bottom: 5.08%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 2.46%;
right: 94.54%;
top: 30.86%;
bottom: 64.65%;

background: #FFFFFF;


/* Rectangle 90 */


position: absolute;
width: 5px;
height: 104px;
left: -9px;
top: 396px;

background: #D9D9D9;


/* Rectangle 87 */


position: absolute;
width: 5px;
height: 103px;
left: 0px;
top: 390px;

background: #D9D9D9;


/* Rectangle 91 */


box-sizing: border-box;

position: absolute;
width: 61px;
height: 59px;
left: 189px;
top: 505px;

background: #474747;
border: 1px solid #FFFFFF;
border-radius: 10px;


/* Rectangle 93 */


box-sizing: border-box;

position: absolute;
width: 61px;
height: 59px;
left: 347px;
top: 505px;

background: #474747;
border: 0.25px solid #000000;
border-radius: 10px;


/* Rectangle 92 */


box-sizing: border-box;

position: absolute;
width: 61px;
height: 59px;
left: 268px;
top: 505px;

background: #474747;
border: 0.25px solid #000000;
border-radius: 10px;


/* 1 */


position: absolute;
width: 13px;
height: 30px;
left: 213px;
top: 521px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 30px;

color: #FFFFFF;



/* 2 */


position: absolute;
width: 16px;
height: 30px;
left: 290px;
top: 520px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 30px;

color: #FFFFFF;



/* 3 */


position: absolute;
width: 17px;
height: 30px;
left: 369px;
top: 520px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 30px;

color: #FFFFFF;



/* simple-line-icons:magnifier */


position: absolute;
width: 69px;
height: 71px;
left: 303px;
top: 382px;



/* Rectangle 2 */


position: absolute;
width: 1449px;
height: 174px;
left: 0px;
top: 0px;

background: #0D0D0D;


/* ic:outline-more-horiz */


position: absolute;
width: 78px;
height: 78px;
left: 21px;
top: 40px;

background: #0D0D0D;


/* OŚWIECENIOWA CHWILOWA  VIKZA PIKSA */


position: absolute;
width: 280px;
height: 48px;
left: 1102px;
top: 61px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;



/* Vector */


box-sizing: border-box;

position: absolute;
left: 70.56%;
right: 25.45%;
top: 5.96%;
bottom: 88.43%;

background: #FFFFFF;
border: 0.5px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Vector 2 */


position: absolute;
width: 26px;
height: 9px;
left: 391px;
top: 625px;

border: 1px solid #333333;


/* Vector 1 */


position: absolute;
width: 0px;
height: 21px;
left: 427px;
top: 494px;

border: 1px solid #333333;


/* Vector 3 */


position: absolute;
width: 46px;
height: 145px;
left: 392px;
top: 494px;

background: #333333;
border: 1px solid #333333;


/* Rectangle 79 */


position: absolute;
width: 277px;
height: 290px;
left: 160px;
top: 174px;

background: rgba(255, 255, 255, 0.1);
border-radius: 0px 0px 10px 10px;


/* Spis treści */


position: absolute;
width: 183px;
height: 45px;
left: 212px;
top: 187px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 44px;

color: #FFFFFF;



/* Rectangle 80 */


box-sizing: border-box;

position: absolute;
width: 232px;
height: 6px;
left: 187px;
top: 245px;

background: #FFFFFF;
border: 1px solid #000000;


/* Rectangle 81 */


box-sizing: border-box;

position: absolute;
width: 232px;
height: 5px;
left: 187px;
top: 411px;

background: #FFFFFF;
border: 1px solid #000000;


/* I Postanowienia II Sample Text III TBD IV Succ Dicc V weasg */


position: absolute;
width: 183px;
height: 148px;
left: 187px;
top: 257px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;

color: #FFFFFF;



/* Rectangle 82 */


position: absolute;
width: 863px;
height: 850px;
left: 504px;
top: 174px;

background: #D9D9D9;
opacity: 0.1;


/* my name is Walter Hartwell White. I live at 308 Negra Arro yo Lane, Albuquerque, New Mexico, 87104. This is my con fession. If you're watching this tape, I'm probably dead– m urdered by my brother-in-law, Hank Schrader. Hank has been building a meth empire for over a year now, and usi ng me as his chemist. Shortly after my 50th birthday, he asked that I use my chemistry knowledge to cook metha mphetamine, which he would then sell using connections that he made through his career with the DEA. I was... astounded. I... I always thought Hank was a very moral man, and I was particularly vulnerable at the time – so mething he knew and took advantage of. I was reeling f rom a cancer diagnosis that was poised to bankrupt my */


position: absolute;
width: 799px;
height: 395px;
left: 587px;
top: 285px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #FFFFFF;



/* I. POSTANOWIENIA */


position: absolute;
width: 446px;
height: 58px;
left: 587px;
top: 222px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 58px;
/* identical to box height */


color: #FFFFFF;



/* II. Sample Text */


position: absolute;
width: 337px;
height: 58px;
left: 587px;
top: 688px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 58px;
/* identical to box height */


color: #FFFFFF;



/* my name is Walter Hartwell White. I live at 308 Negra Arro yo Lane, Albuquerque, New Mexico, 87104. This is my con fession. If you're watching this tape, I'm probably dead– m urdered by my brother-in-law, Hank Schrader. Hank has been building a meth empire for over a year now, and usi ng me as his chemist. Shortly after my 50th birthday, he asked that I use my chemistry knowledge to cook metha mphetamine, which he would then sell using connections */


position: absolute;
width: 784px;
height: 268px;
left: 587px;
top: 752px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #FFFFFF;



/* Group */


position: absolute;
left: 2.57%;
right: 94.24%;
top: 19.82%;
bottom: 75.68%;



/* Vector */


position: absolute;
left: 2.36%;
right: 94.44%;
top: 90.43%;
bottom: 5.08%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 2.46%;
right: 94.54%;
top: 32.03%;
bottom: 63.48%;

background: #FFFFFF;


/* Rectangle 88 */


position: absolute;
width: 128px;
height: 857px;
left: -9px;
top: 174px;

background: #0D0D0D;


/* Rectangle 89 */


box-sizing: border-box;

position: absolute;
width: 141px;
height: 104px;
left: -22px;
top: 389px;

background: #595959;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Group */


position: absolute;
left: 2.57%;
right: 94.24%;
top: 19.82%;
bottom: 75.68%;



/* Vector */


position: absolute;
left: 2.36%;
right: 94.44%;
top: 90.43%;
bottom: 5.08%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 2.57%;
right: 94.24%;
top: 40.82%;
bottom: 54.69%;

background: #FFFFFF;


/* Group */


position: absolute;
left: 2.57%;
right: 94.24%;
top: 19.82%;
bottom: 75.68%;



/* Vector */


position: absolute;
left: 2.36%;
right: 94.44%;
top: 90.43%;
bottom: 5.08%;

background: #FFFFFF;


/* Group */


position: absolute;
left: 2.57%;
right: 94.24%;
top: 19.82%;
bottom: 75.68%;



/* Vector */


position: absolute;
left: 2.36%;
right: 94.44%;
top: 90.43%;
bottom: 5.08%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 2.46%;
right: 94.54%;
top: 30.86%;
bottom: 64.65%;

background: #FFFFFF;


/* Rectangle 90 */


position: absolute;
width: 5px;
height: 104px;
left: -9px;
top: 396px;

background: #D9D9D9;


/* Rectangle 87 */


position: absolute;
width: 5px;
height: 103px;
left: 0px;
top: 390px;

background: #D9D9D9;


/* Rectangle 91 */


box-sizing: border-box;

position: absolute;
width: 61px;
height: 59px;
left: 189px;
top: 505px;

background: #474747;
border: 1px solid #FFFFFF;
border-radius: 10px;


/* Rectangle 93 */


box-sizing: border-box;

position: absolute;
width: 61px;
height: 59px;
left: 347px;
top: 505px;

background: #474747;
border: 0.25px solid #000000;
border-radius: 10px;


/* Rectangle 92 */


box-sizing: border-box;

position: absolute;
width: 61px;
height: 59px;
left: 268px;
top: 505px;

background: #474747;
border: 0.25px solid #000000;
border-radius: 10px;


/* 1 */


position: absolute;
width: 13px;
height: 30px;
left: 213px;
top: 521px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 30px;

color: #FFFFFF;



/* 2 */


position: absolute;
width: 16px;
height: 30px;
left: 290px;
top: 520px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 30px;

color: #FFFFFF;



/* 3 */


position: absolute;
width: 17px;
height: 30px;
left: 369px;
top: 520px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 30px;

color: #FFFFFF;
