/* Rectangle 2 */


position: absolute;
width: 1449px;
height: 168px;
left: 0px;
top: 0px;

background: #0D0D0D;


/* ic:outline-more-horiz */


position: absolute;
width: 78px;
height: 78px;
left: 25px;
top: 40px;

background: #0D0D0D;


/* OŚWIECENIOWA CHWILOWA  VIKZA PIKSA */


position: absolute;
width: 280px;
height: 48px;
left: 1102px;
top: 61px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;



/* Vector */


box-sizing: border-box;

position: absolute;
left: 70.56%;
right: 25.45%;
top: 5.96%;
bottom: 88.43%;

background: #FFFFFF;
border: 0.5px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* nazwa playlisty:  Beethoven Mixtape */


position: absolute;
width: 672px;
height: 78px;
left: 245px;
top: 243px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #FFFFFF;



/* Gatunek:  kwartety fortepianowe */


position: absolute;
width: 343px;
height: 78px;
left: 245px;
top: 409px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #FFFFFF;



/* Rectangle 13 */


position: absolute;
width: 1219px;
height: 119px;
left: 201px;
top: 835px;

background: #595959;
border-radius: 10px;


/* Rectangle 15 */


position: absolute;
width: 1219px;
height: 119px;
left: 201px;
top: 572px;

background: #595959;
border-radius: 10px;


/* Rectangle 14 */


position: absolute;
width: 1219px;
height: 120px;
left: 201px;
top: 703px;

background: #595959;
border-radius: 10px;


/* 2. Hammerklavier Piano Sonata */


position: absolute;
width: 472px;
height: 39px;
left: 245px;
top: 743px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */


color: #FFFFFF;



/* 0:00 / 20:19 */


position: absolute;
width: 182px;
height: 39px;
left: 1127px;
top: 875px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */


color: #FFFFFF;



/* 3. ‘Pathétique’ Piano Sonata */


position: absolute;
width: 422px;
height: 39px;
left: 245px;
top: 875px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */


color: #FFFFFF;



/* Archduke Trio */


position: absolute;
width: 258px;
height: 35px;
left: 232px;
top: 614px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #FFFFFF;



/* 0:00 / 45:30 */


position: absolute;
width: 188px;
height: 39px;
left: 1127px;
top: 614px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */


color: #FFFFFF;



/* 0:00 / 39:35 */


position: absolute;
width: 188px;
height: 39px;
left: 1131px;
top: 743px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */


color: #FFFFFF;



/* Rectangle 16 */


position: absolute;
width: 1219px;
height: 119px;
left: 202px;
top: 964px;

background: #595959;
border-radius: 10px;


/* ikona */


position: absolute;
width: 81px;
height: 39px;
left: 936px;
top: 224px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */


color: #FFFFFF;



/* zapisany element 5 */


position: absolute;
width: 211px;
height: 207px;
left: 936px;
top: 289px;

background: #7EA672;
border-radius: 10px;


/* Rectangle 53 */


position: absolute;
width: 38px;
height: 38px;
left: 1158px;
top: 300px;

background: #272727;
border-radius: 10px;


/* clarity:color-picker-solid */


position: absolute;
width: 33px;
height: 33px;
left: 1161px;
top: 303px;

border-radius: 10px;


/* Group */


position: absolute;
left: 2.85%;
right: 93.96%;
top: 19.24%;
bottom: 76.27%;



/* Vector */


position: absolute;
left: 2.64%;
right: 94.17%;
top: 89.84%;
bottom: 5.66%;

background: #FFFFFF;


/* simple-line-icons:music-tone-alt */


position: absolute;
width: 46px;
height: 46px;
left: 38px;
top: 322px;



/* Rectangle 22 */


position: absolute;
width: 128px;
height: 856px;
left: 0px;
top: 168px;

background: #0D0D0D;


/* Rectangle 23 */


box-sizing: border-box;

position: absolute;
width: 128px;
height: 104px;
left: 0px;
top: 274px;

background: #595959;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Group */


position: absolute;
left: 2.85%;
right: 93.96%;
top: 19.24%;
bottom: 76.27%;



/* Vector */


position: absolute;
left: 2.64%;
right: 94.17%;
top: 89.84%;
bottom: 5.66%;

background: #FFFFFF;


/* simple-line-icons:music-tone-alt */


position: absolute;
width: 46px;
height: 46px;
left: 38px;
top: 303px;



/* Vector */


position: absolute;
left: 2.85%;
right: 93.96%;
top: 41.5%;
bottom: 54%;

background: #FFFFFF;


/* Group */


position: absolute;
left: 2.85%;
right: 93.96%;
top: 19.24%;
bottom: 76.27%;



/* Vector */


position: absolute;
left: 2.64%;
right: 94.17%;
top: 89.84%;
bottom: 5.66%;

background: #FFFFFF;


/* simple-line-icons:music-tone-alt */


position: absolute;
width: 46px;
height: 46px;
left: 38px;
top: 322px;



/* Rectangle 56 */


box-sizing: border-box;

position: absolute;
width: 128px;
height: 104px;
left: 0px;
top: 274px;

background: #595959;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Group */


position: absolute;
left: 2.85%;
right: 93.96%;
top: 19.24%;
bottom: 76.27%;



/* Vector */


position: absolute;
left: 2.64%;
right: 94.17%;
top: 89.84%;
bottom: 5.66%;

background: #FFFFFF;


/* simple-line-icons:music-tone-alt */


position: absolute;
width: 46px;
height: 46px;
left: 38px;
top: 303px;



/* Rectangle 2 */


position: absolute;
width: 1449px;
height: 168px;
left: 0px;
top: 0px;

background: #0D0D0D;


/* ic:outline-more-horiz */


position: absolute;
width: 78px;
height: 78px;
left: 25px;
top: 40px;

background: #0D0D0D;


/* OŚWIECENIOWA CHWILOWA  VIKZA PIKSA */


position: absolute;
width: 280px;
height: 48px;
left: 1102px;
top: 61px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;



/* Vector */


box-sizing: border-box;

position: absolute;
left: 70.56%;
right: 25.45%;
top: 5.96%;
bottom: 88.43%;

background: #FFFFFF;
border: 0.5px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* nazwa playlisty:  Beethoven Mixtape */


position: absolute;
width: 672px;
height: 78px;
left: 245px;
top: 243px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #FFFFFF;



/* Gatunek:  kwartety fortepianowe */


position: absolute;
width: 343px;
height: 78px;
left: 245px;
top: 409px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #FFFFFF;



/* Rectangle 13 */


position: absolute;
width: 1219px;
height: 119px;
left: 201px;
top: 835px;

background: #595959;
border-radius: 10px;


/* Rectangle 15 */


position: absolute;
width: 1219px;
height: 119px;
left: 201px;
top: 572px;

background: #595959;
border-radius: 10px;


/* Rectangle 14 */


position: absolute;
width: 1219px;
height: 120px;
left: 201px;
top: 703px;

background: #595959;
border-radius: 10px;


/* 2. Hammerklavier Piano Sonata */


position: absolute;
width: 472px;
height: 39px;
left: 245px;
top: 743px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */


color: #FFFFFF;



/* 0:00 / 20:19 */


position: absolute;
width: 182px;
height: 39px;
left: 1127px;
top: 875px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */


color: #FFFFFF;



/* 3. ‘Pathétique’ Piano Sonata */


position: absolute;
width: 422px;
height: 39px;
left: 245px;
top: 875px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */


color: #FFFFFF;



/* Archduke Trio */


position: absolute;
width: 258px;
height: 35px;
left: 232px;
top: 614px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #FFFFFF;



/* 0:00 / 45:30 */


position: absolute;
width: 188px;
height: 39px;
left: 1127px;
top: 614px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */


color: #FFFFFF;



/* 0:00 / 39:35 */


position: absolute;
width: 188px;
height: 39px;
left: 1131px;
top: 743px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */


color: #FFFFFF;



/* Rectangle 16 */


position: absolute;
width: 1219px;
height: 119px;
left: 202px;
top: 964px;

background: #595959;
border-radius: 10px;


/* ikona */


position: absolute;
width: 81px;
height: 39px;
left: 936px;
top: 224px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */


color: #FFFFFF;



/* zapisany element 5 */


position: absolute;
width: 211px;
height: 207px;
left: 936px;
top: 289px;

background: #7EA672;
border-radius: 10px;


/* Rectangle 53 */


position: absolute;
width: 38px;
height: 38px;
left: 1158px;
top: 300px;

background: #272727;
border-radius: 10px;


/* clarity:color-picker-solid */


position: absolute;
width: 33px;
height: 33px;
left: 1161px;
top: 303px;

border-radius: 10px;


/* Group */


position: absolute;
left: 2.85%;
right: 93.96%;
top: 19.24%;
bottom: 76.27%;



/* Vector */


position: absolute;
left: 2.64%;
right: 94.17%;
top: 89.84%;
bottom: 5.66%;

background: #FFFFFF;


/* simple-line-icons:music-tone-alt */


position: absolute;
width: 46px;
height: 46px;
left: 38px;
top: 322px;



/* Rectangle 22 */


position: absolute;
width: 128px;
height: 856px;
left: 0px;
top: 168px;

background: #0D0D0D;


/* Rectangle 23 */


box-sizing: border-box;

position: absolute;
width: 128px;
height: 104px;
left: 0px;
top: 274px;

background: #595959;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Group */


position: absolute;
left: 2.85%;
right: 93.96%;
top: 19.24%;
bottom: 76.27%;



/* Vector */


position: absolute;
left: 2.64%;
right: 94.17%;
top: 89.84%;
bottom: 5.66%;

background: #FFFFFF;


/* simple-line-icons:music-tone-alt */


position: absolute;
width: 46px;
height: 46px;
left: 38px;
top: 303px;



/* Vector */


position: absolute;
left: 2.85%;
right: 93.96%;
top: 41.5%;
bottom: 54%;

background: #FFFFFF;


/* Group */


position: absolute;
left: 2.85%;
right: 93.96%;
top: 19.24%;
bottom: 76.27%;



/* Vector */


position: absolute;
left: 2.64%;
right: 94.17%;
top: 89.84%;
bottom: 5.66%;

background: #FFFFFF;


/* simple-line-icons:music-tone-alt */


position: absolute;
width: 46px;
height: 46px;
left: 38px;
top: 322px;



/* Rectangle 56 */


box-sizing: border-box;

position: absolute;
width: 128px;
height: 104px;
left: 0px;
top: 274px;

background: #595959;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Group */


position: absolute;
left: 2.85%;
right: 93.96%;
top: 19.24%;
bottom: 76.27%;



/* Vector */


position: absolute;
left: 2.64%;
right: 94.17%;
top: 89.84%;
bottom: 5.66%;

background: #FFFFFF;


/* simple-line-icons:music-tone-alt */


position: absolute;
width: 46px;
height: 46px;
left: 38px;
top: 303px;
