/* akar-icons:circle */


position: absolute;
width: 69px;
height: 69px;
left: 1353px;
top: 207px;



/* simple-line-icons:magnifier */


position: absolute;
width: 69px;
height: 69px;
left: 336px;
top: 388px;



/* Rectangle 2 */


position: absolute;
width: 1449px;
height: 168px;
left: 0px;
top: 0px;

background: #0D0D0D;


/* ic:outline-more-horiz */


position: absolute;
width: 78px;
height: 78px;
left: 37px;
top: 45px;

background: #0D0D0D;


/* OŚWIECENIOWA CHWILOWA  VIKZA PIKSA */


position: absolute;
width: 280px;
height: 48px;
left: 1102px;
top: 61px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;



/* Rectangle 6 */


position: absolute;
width: 782px;
height: 94px;
left: 256px;
top: 250px;

background: linear-gradient(180deg, rgba(217, 217, 217, 0.16) 0%, rgba(217, 217, 217, 0) 100%);
mix-blend-mode: normal;
border-radius: 40px;


/* Vector */


box-sizing: border-box;

position: absolute;
left: 70.56%;
right: 25.45%;
top: 5.96%;
bottom: 88.43%;

background: #FFFFFF;
border: 0.5px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Vector */


position: absolute;
left: 21.53%;
right: 75%;
top: 26.56%;
bottom: 68.55%;

background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);


/* Jaką fraze aktualnie chcesz wyszukać? */


position: absolute;
width: 594px;
height: 39px;
left: 384px;
top: 278px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */


background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;



/* Rectangle 13 */


position: absolute;
width: 866px;
height: 169px;
left: 516px;
top: 763px;

background: linear-gradient(180deg, rgba(89, 89, 89, 0.4) 0%, rgba(89, 89, 89, 0) 100%);
border-radius: 10px;


/* Rectangle 15 */


position: absolute;
width: 866px;
height: 169px;
left: 516px;
top: 389px;

background: linear-gradient(180deg, rgba(89, 89, 89, 0.4) 0%, rgba(89, 89, 89, 0) 100%);
border-radius: 10px;


/* Rectangle 14 */


position: absolute;
width: 866px;
height: 169px;
left: 516px;
top: 576px;

background: linear-gradient(180deg, rgba(89, 89, 89, 0.4) 0%, rgba(89, 89, 89, 0) 100%);
border-radius: 10px;


/* Antonio Vivaldi   4 pory roku */


position: absolute;
width: 234px;
height: 78px;
left: 904px;
top: 808px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;



/* 10.10.2022 21:52 */


position: absolute;
width: 252px;
height: 39px;
left: 590px;
top: 828px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */


background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;



/* image 2 */


position: absolute;
width: 129px;
height: 130px;
left: 1225px;
top: 782px;

background: url(image.png);


/* image 1 */


position: absolute;
width: 129.53px;
height: 130px;
left: 1223px;
top: 600px;

background: url(image.png);


/* Jan Sebastian Bach   BWV 565 */


position: absolute;
width: 321px;
height: 58px;
left: 904px;
top: 635px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;



/* 12.10.2022 11:26 */


position: absolute;
width: 249px;
height: 39px;
left: 587px;
top: 646px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */


background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;



/* 22.10.2022 12:30 */


position: absolute;
width: 259px;
height: 39px;
left: 591px;
top: 451px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */


background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;



/* Ludwig van Beethoven  Sonata Księżycowa */


position: absolute;
width: 258px;
height: 58px;
left: 904px;
top: 441px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;



/* Rectangle 7 */


position: absolute;
width: 130px;
height: 130px;
left: 1223px;
top: 408px;

background: url(image);
opacity: 0.7;
border-radius: 10px;


/* Rectangle 8 */


position: absolute;
width: 241px;
height: 236px;
left: 229px;
top: 391px;

background: linear-gradient(180deg, #D9D9D9 0%, rgba(217, 217, 217, 0) 100%);
border-radius: 10px;


/* Vector */


position: absolute;
left: 26.35%;
right: 67.36%;
top: 46.68%;
bottom: 38.62%;

background: rgba(217, 217, 217, 0.4);


/* Vector 2 */


position: absolute;
width: 26px;
height: 8.5px;
left: 435px;
top: 627.5px;

border: 1px solid rgba(51, 51, 51, 0.4);


/* utwory */


position: absolute;
width: 105px;
height: 39px;
left: 244px;
top: 478px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */


background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;



/* dodane */


position: absolute;
width: 122px;
height: 38px;
left: 244px;
top: 447px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;



/* Najnowsze */


position: absolute;
width: 166px;
height: 39px;
left: 244px;
top: 414px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */


background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Rectangle 9 */


position: absolute;
width: 274px;
height: 94px;
left: 1079px;
top: 250px;

background: linear-gradient(180deg, rgba(55, 207, 255, 0.4) 0%, rgba(55, 207, 255, 0) 100%);
border-radius: 40px;


/* Szukaj */


position: absolute;
width: 100px;
height: 39px;
left: 1168px;
top: 278px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */


background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;



/* Vector 1 */


position: absolute;
width: 0px;
height: 20.5px;
left: 470.5px;
top: 499.5px;

border: 1px solid rgba(51, 51, 51, 0.4);


/* Rectangle 16 */


position: absolute;
width: 10px;
height: 22px;
left: 470px;
top: 497px;

background: #333333;


/* zapisany element 1 */


position: absolute;
width: 211px;
height: 207px;
left: 309px;
top: 787px;

background: #D9D9D9;
border-radius: 10px;


/* zapisany element 3 */


position: absolute;
width: 211px;
height: 207px;
left: 309px;
top: 787px;

background: #8C2639;
border-radius: 10px;


/* zapisany element 2 */


position: absolute;
width: 211px;
height: 207px;
left: 572px;
top: 787px;

background: #7EA672;
border-radius: 10px;


/* nazwa playlisty 2 */


position: absolute;
width: 171px;
height: 78px;
left: 590px;
top: 795px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #FFFFFF;



/* zapisany element 4 */


position: absolute;
width: 211px;
height: 207px;
left: 835px;
top: 792px;

background: #D9D9D9;
border-radius: 10px;


/* zapisany element 5 */


position: absolute;
width: 211px;
height: 207px;
left: 835px;
top: 792px;

background: #678C2E;
border-radius: 10px;


/* zapisany element 6 */


position: absolute;
width: 211px;
height: 207px;
left: 1098px;
top: 792px;

background: #F2D027;
border-radius: 10px;


/* Rectangle 50 */


position: absolute;
width: 74px;
height: 74px;
left: 207px;
top: 854px;

background: #373737;
border-radius: 10px;


/* Rectangle 51 */


position: absolute;
width: 74px;
height: 74px;
left: 1337px;
top: 854px;

background: #373737;
border-radius: 10px;


/* Vector */


position: absolute;
left: 15.42%;
right: 81.74%;
top: 84.86%;
bottom: 10.94%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 94.1%;
right: 3.19%;
top: 84.86%;
bottom: 10.94%;

background: #FFFFFF;


/* Mozart & Chill */


position: absolute;
width: 137px;
height: 78px;
left: 326px;
top: 799px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #FFFFFF;



/* Bach Trap */


position: absolute;
width: 153px;
height: 39px;
left: 853px;
top: 809px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */


color: #FFFFFF;



/* Ruchliwy Vivaldi */


position: absolute;
width: 174px;
height: 41px;
left: 1122px;
top: 809px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #FFFFFF;



/* akar-icons:circle-fill */


position: absolute;
width: 23px;
height: 23px;
left: 359px;
top: 717px;



/* akar-icons:circle-fill */


position: absolute;
width: 23px;
height: 23px;
left: 551px;
top: 720px;



/* wykonawcy */


position: absolute;
width: 111px;
height: 24px;
left: 393px;
top: 716px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;



/* playlisty */


position: absolute;
width: 78px;
height: 24px;
left: 587px;
top: 716px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;



/* wybór elementow */


position: absolute;
width: 87px;
height: 25px;
left: 244px;
top: 716px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height */


color: #FFFFFF;



/* akar-icons:circle-fill */


position: absolute;
width: 23px;
height: 23px;
left: 209px;
top: 718px;



/* simple-line-icons:magnifier */


position: absolute;
width: 69px;
height: 69px;
left: 336px;
top: 388px;



/* Rectangle 2 */


position: absolute;
width: 1449px;
height: 168px;
left: 0px;
top: 0px;

background: #0D0D0D;


/* ic:outline-more-horiz */


position: absolute;
width: 78px;
height: 78px;
left: 37px;
top: 45px;

background: #0D0D0D;


/* OŚWIECENIOWA CHWILOWA  VIKZA PIKSA */


position: absolute;
width: 280px;
height: 48px;
left: 1102px;
top: 61px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;



/* Rectangle 6 */


position: absolute;
width: 782px;
height: 94px;
left: 256px;
top: 250px;

background: linear-gradient(180deg, rgba(217, 217, 217, 0.16) 0%, rgba(217, 217, 217, 0) 100%);
mix-blend-mode: normal;
border-radius: 40px;


/* Vector */


box-sizing: border-box;

position: absolute;
left: 70.56%;
right: 25.45%;
top: 5.96%;
bottom: 88.43%;

background: #FFFFFF;
border: 0.5px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Vector */


position: absolute;
left: 21.53%;
right: 75%;
top: 26.56%;
bottom: 68.55%;

background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);


/* Jaką fraze aktualnie chcesz wyszukać? */


position: absolute;
width: 594px;
height: 39px;
left: 384px;
top: 278px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */


background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;



/* Rectangle 13 */


position: absolute;
width: 866px;
height: 169px;
left: 516px;
top: 763px;

background: linear-gradient(180deg, rgba(89, 89, 89, 0.4) 0%, rgba(89, 89, 89, 0) 100%);
border-radius: 10px;


/* Rectangle 15 */


position: absolute;
width: 866px;
height: 169px;
left: 516px;
top: 389px;

background: linear-gradient(180deg, rgba(89, 89, 89, 0.4) 0%, rgba(89, 89, 89, 0) 100%);
border-radius: 10px;


/* Rectangle 14 */


position: absolute;
width: 866px;
height: 169px;
left: 516px;
top: 576px;

background: linear-gradient(180deg, rgba(89, 89, 89, 0.4) 0%, rgba(89, 89, 89, 0) 100%);
border-radius: 10px;


/* Antonio Vivaldi   4 pory roku */


position: absolute;
width: 234px;
height: 78px;
left: 904px;
top: 808px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;



/* 10.10.2022 21:52 */


position: absolute;
width: 252px;
height: 39px;
left: 590px;
top: 828px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */


background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;



/* image 2 */


position: absolute;
width: 129px;
height: 130px;
left: 1225px;
top: 782px;

background: url(image.png);


/* image 1 */


position: absolute;
width: 129.53px;
height: 130px;
left: 1223px;
top: 600px;

background: url(image.png);


/* Jan Sebastian Bach   BWV 565 */


position: absolute;
width: 321px;
height: 58px;
left: 904px;
top: 635px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;



/* 12.10.2022 11:26 */


position: absolute;
width: 249px;
height: 39px;
left: 587px;
top: 646px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */


background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;



/* 22.10.2022 12:30 */


position: absolute;
width: 259px;
height: 39px;
left: 591px;
top: 451px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */


background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;



/* Ludwig van Beethoven  Sonata Księżycowa */


position: absolute;
width: 258px;
height: 58px;
left: 904px;
top: 441px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;



/* Rectangle 7 */


position: absolute;
width: 130px;
height: 130px;
left: 1223px;
top: 408px;

background: url(image);
opacity: 0.7;
border-radius: 10px;


/* Rectangle 8 */


position: absolute;
width: 241px;
height: 236px;
left: 229px;
top: 391px;

background: linear-gradient(180deg, #D9D9D9 0%, rgba(217, 217, 217, 0) 100%);
border-radius: 10px;


/* Vector */


position: absolute;
left: 26.35%;
right: 67.36%;
top: 46.68%;
bottom: 38.62%;

background: rgba(217, 217, 217, 0.4);


/* Vector 2 */


position: absolute;
width: 26px;
height: 8.5px;
left: 435px;
top: 627.5px;

border: 1px solid rgba(51, 51, 51, 0.4);


/* zapisany element 7 */


box-sizing: border-box;

position: absolute;
width: 1313px;
height: 261px;
left: 127px;
top: 763px;

background: #333333;
border: 1px solid #000000;


/* zapisany element 8 */


position: absolute;
width: 560px;
height: 70px;
left: 127px;
top: 693px;

background: #0D0D0D;
border-radius: 0px 10px 0px 0px;


/* utwory */


position: absolute;
width: 105px;
height: 39px;
left: 244px;
top: 478px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */


background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;



/* dodane */


position: absolute;
width: 122px;
height: 38px;
left: 244px;
top: 447px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;



/* Najnowsze */


position: absolute;
width: 166px;
height: 39px;
left: 244px;
top: 414px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */


background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Rectangle 9 */


position: absolute;
width: 274px;
height: 94px;
left: 1079px;
top: 250px;

background: linear-gradient(180deg, rgba(55, 207, 255, 0.4) 0%, rgba(55, 207, 255, 0) 100%);
border-radius: 40px;


/* Szukaj */


position: absolute;
width: 100px;
height: 39px;
left: 1168px;
top: 278px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */


background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;



/* Vector 1 */


position: absolute;
width: 0px;
height: 20.5px;
left: 470.5px;
top: 499.5px;

border: 1px solid rgba(51, 51, 51, 0.4);


/* Rectangle 16 */


position: absolute;
width: 10px;
height: 22px;
left: 470px;
top: 497px;

background: #333333;


/* zapisany element 1 */


position: absolute;
width: 211px;
height: 207px;
left: 309px;
top: 787px;

background: #D9D9D9;
border-radius: 10px;


/* zapisany element 3 */


position: absolute;
width: 211px;
height: 207px;
left: 309px;
top: 787px;

background: #8C2639;
border-radius: 10px;


/* zapisany element 2 */


position: absolute;
width: 211px;
height: 207px;
left: 572px;
top: 787px;

background: #7EA672;
border-radius: 10px;


/* nazwa playlisty 2 */


position: absolute;
width: 171px;
height: 78px;
left: 590px;
top: 795px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #FFFFFF;



/* zapisany element 4 */


position: absolute;
width: 211px;
height: 207px;
left: 835px;
top: 792px;

background: #D9D9D9;
border-radius: 10px;


/* zapisany element 5 */


position: absolute;
width: 211px;
height: 207px;
left: 835px;
top: 792px;

background: #678C2E;
border-radius: 10px;


/* zapisany element 6 */


position: absolute;
width: 211px;
height: 207px;
left: 1098px;
top: 792px;

background: #F2D027;
border-radius: 10px;


/* Rectangle 50 */


position: absolute;
width: 74px;
height: 74px;
left: 207px;
top: 854px;

background: #373737;
border-radius: 10px;


/* Rectangle 51 */


position: absolute;
width: 74px;
height: 74px;
left: 1337px;
top: 854px;

background: #373737;
border-radius: 10px;


/* Vector */


position: absolute;
left: 15.42%;
right: 81.74%;
top: 84.86%;
bottom: 10.94%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 94.1%;
right: 3.19%;
top: 84.86%;
bottom: 10.94%;

background: #FFFFFF;


/* Mozart & Chill */


position: absolute;
width: 137px;
height: 78px;
left: 326px;
top: 799px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #FFFFFF;



/* Bach Trap */


position: absolute;
width: 153px;
height: 39px;
left: 853px;
top: 809px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */


color: #FFFFFF;



/* Ruchliwy Vivaldi */


position: absolute;
width: 174px;
height: 41px;
left: 1122px;
top: 809px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #FFFFFF;



/* akar-icons:circle-fill */


position: absolute;
width: 23px;
height: 23px;
left: 359px;
top: 717px;



/* akar-icons:circle-fill */


position: absolute;
width: 23px;
height: 23px;
left: 551px;
top: 720px;



/* wykonawcy */


position: absolute;
width: 111px;
height: 24px;
left: 393px;
top: 716px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;



/* playlisty */


position: absolute;
width: 78px;
height: 24px;
left: 587px;
top: 716px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;



/* wybór elementow */


position: absolute;
width: 87px;
height: 25px;
left: 244px;
top: 716px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height */


color: #FFFFFF;



/* akar-icons:circle-fill */


position: absolute;
width: 23px;
height: 23px;
left: 209px;
top: 718px;



/* Rectangle 16 */


position: absolute;
width: 128px;
height: 850px;
left: 0px;
top: 174px;

background: #0D0D0D;


/* Vector */


position: absolute;
left: 2.64%;
right: 94.17%;
top: 46.68%;
bottom: 48.83%;

background: #FFFFFF;


/* Rectangle 17 */


box-sizing: border-box;

position: absolute;
width: 128px;
height: 104px;
left: 0px;
top: 168px;

background: #595959;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Group */


position: absolute;
left: 2.85%;
right: 93.96%;
top: 19.24%;
bottom: 76.27%;



/* Vector m */


position: absolute;
left: 2.71%;
right: 94.29%;
top: 33.79%;
bottom: 61.72%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 2.64%;
right: 94.17%;
top: 89.84%;
bottom: 5.66%;

background: #FFFFFF;
