.e225_125 { 
	overflow:hidden;
	background-color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:1906px;
	height:924px;
	position:absolute;
}
.e225_126 { 
	background-color:rgba(13.000000175088644, 13.000000175088644, 13.000000175088644, 1);
	width:1924px;
	height:168px;
	position:absolute;
	left:0px;
	top:0px;
}
.e225_127 { 
	background-color:rgba(13.000000175088644, 13.000000175088644, 13.000000175088644, 1);
	width:227px;
	height:756px;
	position:absolute;
	left:0px;
	top:168px;
}
.e244_12 { 
	width:1682px;
	height:756px;
	position:absolute;
	left:224px;
	top:168px;
	background-image:url(images_main/image_15.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e225_128 { 
	width:93px;
	height:78px;
	position:absolute;
	left:69px;
	top:203px;
	background-image:url(images_main/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e225_129 { 
	width:91px;
	height:86px;
	position:absolute;
	left:70px;
	top:331px;
	background-image:url(images_main/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e225_130 { 
	width:78px;
	height:71px;
	position:absolute;
	left:76px;
	top:467px;
	background-image:url(images_main/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e225_131 { 
	width:136px;
	height:80px;
	position:absolute;
	left:47px;
	top:39px;
	background-image:url(images_main/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e225_132 { 
	width:446px;
	height:88px;
	position:absolute;
	left:1434px;
	top:40px;
	background-image:url(images_main/image_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e80_311 { 
	background-color:rgba(55.24999290704727, 207.05994844436646, 255, 1);
	width:232px;
	height:100px;
	position:absolute;
	left:964px;
	top:183px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.e80_289 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:563px;
	height:100px;
	position:absolute;
	left:531px;
	top:183px;
	border-radius:40px;
}
.e80_292 { 
	color:rgba(0, 0, 0, 1);
	width:483px;
	height:41px;
	position:absolute;
	left:571px;
	top:212px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e80_293 { 
	background-color:rgba(89.00000229477882, 89.00000229477882, 89.00000229477882, 1);
	width:866px;
	height:169px;
	position:absolute;
	left:791px;
	top:696px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e80_294 { 
	background-color:rgba(89.00000229477882, 89.00000229477882, 89.00000229477882, 1);
	width:866px;
	height:169px;
	position:absolute;
	left:791px;
	top:322px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e80_295 { 
	background-color:rgba(89.00000229477882, 89.00000229477882, 89.00000229477882, 1);
	width:866px;
	height:169px;
	position:absolute;
	left:791px;
	top:509px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e80_296 { 
	color:rgba(255, 255, 255, 1);
	width:234px;
	height:78px;
	position:absolute;
	left:1179px;
	top:741px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e80_298 { 
	width:129px;
	height:130px;
	position:absolute;
	left:1500px;
	top:715px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images_main/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e80_299 { 
	width:129.5340576171875px;
	height:130px;
	position:absolute;
	left:1498px;
	top:533px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images_main/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e80_300 { 
	color:rgba(255, 255, 255, 1);
	width:321px;
	height:58px;
	position:absolute;
	left:1179px;
	top:568px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e80_303 { 
	color:rgba(255, 255, 255, 1);
	width:258px;
	height:58px;
	position:absolute;
	left:1179px;
	top:374px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e80_304 { 
	opacity:0.699999988079071;
	width:130px;
	height:130px;
	position:absolute;
	left:1498px;
	top:341px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images_main/rectangle_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e80_307 { 
	width:26px;
	height:8.5px;
	position:absolute;
	left:710px;
	top:560.5px;
	order:1px solid rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
}
.e80_297 { 
	color:rgba(255, 255, 255, 1);
	width:252px;
	height:39px;
	position:absolute;
	left:842px;
	top:721px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e80_301 { 
	color:rgba(255, 255, 255, 1);
	width:249px;
	height:39px;
	position:absolute;
	left:847px;
	top:537px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e80_302 { 
	color:rgba(255, 255, 255, 1);
	width:259px;
	height:39px;
	position:absolute;
	left:842px;
	top:343px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e240_3 { 
	width:227px;
	height:220px;
	position:absolute;
	left:500px;
	top:322px;
	background-image:url(images_main/image_12.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e240_9 { 
	width:70px;
	height:74px;
	position:absolute;
	left:1109px;
	top:196px;
	background-image:url(images_main/image_13.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e244_18 { 
	width:217px;
	height:105px;
	position:absolute;
	left:863px;
	top:379px;
	background-image:url(images_main/image_16.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e244_19 { 
	width:217px;
	height:105px;
	position:absolute;
	left:863px;
	top:758px;
	background-image:url(images_main/image_17.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e244_20 { 
	width:217px;
	height:105px;
	position:absolute;
	left:863px;
	top:569px;
	background-image:url(images_main/image_18.png);
	background-repeat:no-repeat;
	background-size:cover;
}
