
/* Rectangle 2 */


position: absolute;
width: 1449px;
height: 168px;
left: 0px;
top: 0px;

background: #0D0D0D;


/* Rectangle 1 */


position: absolute;
width: 172px;
height: 850px;
left: 0px;
top: 174px;

background: #0D0D0D;


/* Rectangle 3 */


box-sizing: border-box;

position: absolute;
width: 172px;
height: 140px;
left: 0px;
top: 168px;

background: #595959;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* ic:outline-more-horiz */


position: absolute;
width: 78px;
height: 78px;
left: 55px;
top: 45px;

background: #0D0D0D;


/* Group */


position: absolute;
left: 4.31%;
right: 91.18%;
top: 20.12%;
bottom: 73.54%;



/* Vector */


position: absolute;
left: 4.31%;
right: 91.18%;
top: 89.94%;
bottom: 3.71%;

background: #FFFFFF;


/* simple-line-icons:music-tone-alt */


position: absolute;
width: 65px;
height: 65px;
left: 55px;
top: 360px;



/* ant-design:user-outlined */


position: absolute;
width: 82px;
height: 67px;
left: 46px;
top: 459px;



/* Vector */


position: absolute;
left: 3.82%;
right: 91.67%;
top: 50%;
bottom: 43.65%;

background: #FFFFFF;


/* OŚWIECENIOWA CHWILOWA  VIKZA PIKSA */


position: absolute;
width: 280px;
height: 48px;
left: 1102px;
top: 61px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;



/* Rectangle 6 */


position: absolute;
width: 782px;
height: 94px;
left: 256px;
top: 250px;

background: #D9D9D9;
border-radius: 40px;


/* Vector */


box-sizing: border-box;

position: absolute;
left: 70.56%;
right: 25.45%;
top: 5.96%;
bottom: 88.43%;

background: #FFFFFF;
border: 0.5px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Vector */


position: absolute;
left: 21.53%;
right: 75%;
top: 26.56%;
bottom: 68.55%;

background: #000000;


/* Beethoven - Gangsta Rap */


position: absolute;
width: 243px;
height: 24px;
left: 385px;
top: 286px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #000000;



/* Rectangle 14 */


position: absolute;
width: 866px;
height: 169px;
left: 516px;
top: 476px;

background: #595959;
border-radius: 10px;


/* Rectangle 9 */


position: absolute;
width: 274px;
height: 94px;
left: 1079px;
top: 250px;

background: #37CFFF;
border-radius: 40px;


/* Szukaj */


position: absolute;
width: 100px;
height: 39px;
left: 1168px;
top: 278px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */


color: #FFFFFF;



/* Beethoven Für Elise (Klutch Dubstep Trap Remix) */


position: absolute;
width: 524px;
height: 117px;
left: 544px;
top: 502px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #FFFFFF;



/* tablica zapisanych elementów */


position: absolute;
width: 512px;
height: 66px;
left: 870px;
top: 393px;

background: #272727;
border-radius: 10px;


/* tablica zapisanych elementów */


position: absolute;
width: 512px;
height: 66px;
left: 870px;
top: 393px;

background: #272727;
border-radius: 10px;


/* ilość wyszukanych elementów: 1 */


position: absolute;
width: 490px;
height: 39px;
left: 882px;
top: 406px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */


color: #FFFFFF;



/* Rectangle 75 */


position: absolute;
width: 894px;
height: 1px;
left: 359px;
top: 958px;

background: #D9D9D9;


/* Rectangle 76 */


position: absolute;
width: 894px;
height: 1px;
left: 359px;
top: 715px;

background: #D9D9D9;


/* nic więcej nie znaleziono */


position: absolute;
width: 527px;
height: 54px;
left: 409px;
top: 805.5px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 45px;
line-height: 54px;

color: #FFFFFF;



/* game-icons:sad-crab */


position: absolute;
width: 145px;
height: 145px;
left: 996px;
top: 759.5px;



/* image 3 */


position: absolute;
width: 130px;
height: 130px;
left: 1223px;
top: 496px;

background: url(image.png);
border-radius: 10px;


/* Vector */


position: absolute;
left: 29.03%;
right: 69.51%;
top: 41.06%;
bottom: 56.88%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 41.53%;
right: 57.01%;
top: 40.96%;
bottom: 56.98%;

background: #FFFFFF;


/* wykonawcy */


position: absolute;
width: 111px;
height: 24px;
left: 451.04px;
top: 418.5px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;



/* playlisty */


position: absolute;
width: 78px;
height: 24px;
left: 633.04px;
top: 417.5px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;



/* wybór elementow */


position: absolute;
width: 87px;
height: 25px;
left: 302.04px;
top: 418.5px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height */


color: #FFFFFF;



/* Vector */


position: absolute;
left: 18.61%;
right: 79.92%;
top: 41.16%;
bottom: 56.78%;

background: #4D9039;


/* Rectangle 2 */


position: absolute;
width: 1449px;
height: 168px;
left: 0px;
top: 0px;

background: #0D0D0D;


/* Rectangle 1 */


position: absolute;
width: 172px;
height: 850px;
left: 0px;
top: 174px;

background: #0D0D0D;


/* Rectangle 3 */


box-sizing: border-box;

position: absolute;
width: 172px;
height: 140px;
left: 0px;
top: 168px;

background: #595959;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* ic:outline-more-horiz */


position: absolute;
width: 78px;
height: 78px;
left: 55px;
top: 45px;

background: #0D0D0D;


/* Group */


position: absolute;
left: 4.31%;
right: 91.18%;
top: 20.12%;
bottom: 73.54%;



/* Vector */


position: absolute;
left: 4.31%;
right: 91.18%;
top: 89.94%;
bottom: 3.71%;

background: #FFFFFF;


/* simple-line-icons:music-tone-alt */


position: absolute;
width: 65px;
height: 65px;
left: 55px;
top: 360px;



/* ant-design:user-outlined */


position: absolute;
width: 82px;
height: 67px;
left: 46px;
top: 459px;



/* Vector */


position: absolute;
left: 3.82%;
right: 91.67%;
top: 50%;
bottom: 43.65%;

background: #FFFFFF;


/* OŚWIECENIOWA CHWILOWA  VIKZA PIKSA */


position: absolute;
width: 280px;
height: 48px;
left: 1102px;
top: 61px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;



/* Rectangle 6 */


position: absolute;
width: 782px;
height: 94px;
left: 256px;
top: 250px;

background: #D9D9D9;
border-radius: 40px;


/* Vector */


box-sizing: border-box;

position: absolute;
left: 70.56%;
right: 25.45%;
top: 5.96%;
bottom: 88.43%;

background: #FFFFFF;
border: 0.5px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Vector */


position: absolute;
left: 21.53%;
right: 75%;
top: 26.56%;
bottom: 68.55%;

background: #000000;


/* Beethoven - Gangsta Rap */


position: absolute;
width: 243px;
height: 24px;
left: 385px;
top: 286px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #000000;



/* Rectangle 14 */


position: absolute;
width: 866px;
height: 169px;
left: 516px;
top: 476px;

background: #595959;
border-radius: 10px;


/* Rectangle 9 */


position: absolute;
width: 274px;
height: 94px;
left: 1079px;
top: 250px;

background: #37CFFF;
border-radius: 40px;


/* Szukaj */


position: absolute;
width: 100px;
height: 39px;
left: 1168px;
top: 278px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */


color: #FFFFFF;



/* Beethoven Für Elise (Klutch Dubstep Trap Remix) */


position: absolute;
width: 524px;
height: 117px;
left: 544px;
top: 502px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #FFFFFF;



/* tablica zapisanych elementów */


position: absolute;
width: 512px;
height: 66px;
left: 870px;
top: 393px;

background: #272727;
border-radius: 10px;


/* tablica zapisanych elementów */


position: absolute;
width: 512px;
height: 66px;
left: 870px;
top: 393px;

background: #272727;
border-radius: 10px;


/* ilość wyszukanych elementów: 1 */


position: absolute;
width: 490px;
height: 39px;
left: 882px;
top: 406px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */


color: #FFFFFF;



/* Rectangle 75 */


position: absolute;
width: 894px;
height: 1px;
left: 359px;
top: 958px;

background: #D9D9D9;


/* Rectangle 76 */


position: absolute;
width: 894px;
height: 1px;
left: 359px;
top: 715px;

background: #D9D9D9;


/* nic więcej nie znaleziono */


position: absolute;
width: 527px;
height: 54px;
left: 409px;
top: 805.5px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 45px;
line-height: 54px;

color: #FFFFFF;



/* game-icons:sad-crab */


position: absolute;
width: 145px;
height: 145px;
left: 996px;
top: 759.5px;



/* image 3 */


position: absolute;
width: 130px;
height: 130px;
left: 1223px;
top: 496px;

background: url(image.png);
border-radius: 10px;


/* Vector */


position: absolute;
left: 29.03%;
right: 69.51%;
top: 41.06%;
bottom: 56.88%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 41.53%;
right: 57.01%;
top: 40.96%;
bottom: 56.98%;

background: #FFFFFF;


/* wykonawcy */


position: absolute;
width: 111px;
height: 24px;
left: 451.04px;
top: 418.5px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;



/* playlisty */


position: absolute;
width: 78px;
height: 24px;
left: 633.04px;
top: 417.5px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;



/* wybór elementow */


position: absolute;
width: 87px;
height: 25px;
left: 302.04px;
top: 418.5px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height */


color: #FFFFFF;



/* Vector */


position: absolute;
left: 18.61%;
right: 79.92%;
top: 41.16%;
bottom: 56.78%;

background: #4D9039;
