
.e80_440 { 
	background-color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:1906px;
	height:924px;
	position:absolute;
	overflow:hidden;
}
.e244_11 { 
	width:1679px;
	height:764px;
	position:absolute;
	left:227px;
	top:160px;
	background-image:url(images_utwory/image_15.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e80_448 { 
	background-color:rgba(89.00000229477882, 89.00000229477882, 89.00000229477882, 1);
	width:1555px;
	height:119px;
	position:absolute;
	left:333px;
	top:725px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e80_449 { 
	background-color:rgba(89.00000229477882, 89.00000229477882, 89.00000229477882, 1);
	width:1555px;
	height:119px;
	position:absolute;
	left:333px;
	top:452px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e80_450 { 
	background-color:rgba(89.00000229477882, 89.00000229477882, 89.00000229477882, 1);
	width:1555px;
	height:120px;
	position:absolute;
	left:333px;
	top:588px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e80_451 { 
	color:rgba(255, 255, 255, 1);
	width:614px;
	height:39px;
	position:absolute;
	left:390px;
	top:628px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e80_452 { 
	color:rgba(255, 255, 255, 1);
	width:267px;
	height:39px;
	position:absolute;
	left:1488px;
	top:765px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e80_453 { 
	color:rgba(255, 255, 255, 1);
	width:549px;
	height:39px;
	position:absolute;
	left:390px;
	top:765px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e80_454 { 
	color:rgba(255, 255, 255, 1);
	width:335px;
	height:35px;
	position:absolute;
	left:390px;
	top:491px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e80_455 { 
	color:rgba(255, 255, 255, 1);
	width:276px;
	height:39px;
	position:absolute;
	left:1488px;
	top:504px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e80_456 { 
	color:rgba(255, 255, 255, 1);
	width:276px;
	height:39px;
	position:absolute;
	left:1494px;
	top:633px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e239_22 { 
	background-color:rgba(13.000000175088644, 13.000000175088644, 13.000000175088644, 1);
	width:1906px;
	height:168px;
	position:absolute;
	left:0px;
	top:-1px;
}
.e239_23 { 
	background-color:rgba(13.000000175088644, 13.000000175088644, 13.000000175088644, 1);
	width:227px;
	height:776px;
	position:absolute;
	left:0px;
	top:148px;
}
.e239_24 { 
	background-color:rgba(13.000000175088644, 13.000000175088644, 13.000000175088644, 1);
	width:273px;
	height:0px;
	position:absolute;
	left:-23px;
	top:199px;
}
.e239_25 { 
	width:112px;
	height:90px;
	position:absolute;
	left:60px;
	top:205px;
	background-image:url(images_utwory/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e239_26 { 
	width:110px;
	height:99px;
	position:absolute;
	left:61px;
	top:353px;
	background-image:url(images_utwory/image_12.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e239_27 { 
	width:94px;
	height:82px;
	position:absolute;
	left:68px;
	top:510px;
	background-image:url(images_utwory/image_13.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e239_28 { 
	width:136px;
	height:80px;
	position:absolute;
	left:47px;
	top:50px;
	background-image:url(images_utwory/image_14.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e239_29 { 
	width:446px;
	height:88px;
	position:absolute;
	left:1418px;
	top:42px;
	background-image:url(images_utwory/image_11.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e239_30 { 
	color:rgba(255, 255, 255, 1);
	width:852px;
	height:74px;
	position:absolute;
	left:714px;
	top:328px;
	font-family:Inter;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}
