
.e225_125 { 
	overflow:hidden;
	background-color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:1924px;
	height:1024px;
	position:absolute;
}
.e225_126 { 
	background-color:rgba(13.000000175088644, 13.000000175088644, 13.000000175088644, 1);
	width:1924px;
	height:168px;
	position:absolute;
	left:0px;
	top:0px;
}
.e225_127 { 
	background-color:rgba(13.000000175088644, 13.000000175088644, 13.000000175088644, 1);
	width:227px;
	height:856px;
	position:absolute;
	left:0px;
	top:168px;
}
.e226_84 { 
	width:829px;
	height:856px;
	position:absolute;
	left:227px;
	top:168px;
	background-image:url(images5/image_10.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e226_85 { 
	width:895px;
	height:856px;
	position:absolute;
	left:1029px;
	top:168px;
	background-image:url(images5/image_11.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e225_128 { 
	width:93px;
	height:78px;
	position:absolute;
	left:69px;
	top:203px;
	background-image:url(images5/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e225_129 { 
	width:91px;
	height:86px;
	position:absolute;
	left:70px;
	top:331px;
	background-image:url(images5/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e225_130 { 
	width:78px;
	height:71px;
	position:absolute;
	left:76px;
	top:467px;
	background-image:url(images5/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e225_131 { 
	width:136px;
	height:80px;
	position:absolute;
	left:47px;
	top:39px;
	background-image:url(images5/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e225_132 { 
	width:446px;
	height:88px;
	position:absolute;
	left:1434px;
	top:40px;
	background-image:url(images5/image_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e80_311 { 
	background-color:rgba(55.24999290704727, 207.05994844436646, 255, 1);
	width:232px;
	height:100px;
	position:absolute;
	left:942px;
	top:242px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.e80_289 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:563px;
	height:100px;
	position:absolute;
	left:509px;
	top:242px;
	border-radius:40px;
}
.e80_292 { 
	color:rgba(0, 0, 0, 1);
	width:483px;
	height:41px;
	position:absolute;
	left:549px;
	top:271px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e80_293 { 
	background-color:rgba(89.00000229477882, 89.00000229477882, 89.00000229477882, 1);
	width:866px;
	height:169px;
	position:absolute;
	left:769px;
	top:755px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e80_294 { 
	background-color:rgba(89.00000229477882, 89.00000229477882, 89.00000229477882, 1);
	width:866px;
	height:169px;
	position:absolute;
	left:769px;
	top:381px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e80_295 { 
	background-color:rgba(89.00000229477882, 89.00000229477882, 89.00000229477882, 1);
	width:866px;
	height:169px;
	position:absolute;
	left:769px;
	top:568px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e80_296 { 
	color:rgba(255, 255, 255, 1);
	width:234px;
	height:78px;
	position:absolute;
	left:1157px;
	top:800px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e80_297 { 
	color:rgba(255, 255, 255, 1);
	width:252px;
	height:39px;
	position:absolute;
	left:844px;
	top:819px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e80_298 { 
	width:129px;
	height:130px;
	position:absolute;
	left:1478px;
	top:774px;
	background-image:url(images5/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e80_299 { 
	width:129.5340576171875px;
	height:130px;
	position:absolute;
	left:1476px;
	top:592px;
	background-image:url(images5/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e80_300 { 
	color:rgba(255, 255, 255, 1);
	width:321px;
	height:58px;
	position:absolute;
	left:1157px;
	top:627px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e80_301 { 
	color:rgba(255, 255, 255, 1);
	width:249px;
	height:39px;
	position:absolute;
	left:840px;
	top:638px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e80_302 { 
	color:rgba(255, 255, 255, 1);
	width:259px;
	height:39px;
	position:absolute;
	left:844px;
	top:443px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e80_303 { 
	color:rgba(255, 255, 255, 1);
	width:258px;
	height:58px;
	position:absolute;
	left:1157px;
	top:433px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e80_304 { 
	opacity:0.699999988079071;
	width:130px;
	height:130px;
	position:absolute;
	left:1476px;
	top:400px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images5/rectangle_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e80_307 { 
	border:1px solid rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:26px;
	height:8.5px;
	position:absolute;
	left:688px;
	top:619.5px;
}
.e240_3 { 
	width:227px;
	height:220px;
	position:absolute;
	left:478px;
	top:381px;
	background-image:url(images5/image_12.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e240_9 { 
	width:70px;
	height:74px;
	position:absolute;
	left:1087px;
	top:255px;
	background-image:url(images5/image_13.png);
	background-repeat:no-repeat;
	background-size:cover;
}
