.e236_28 { 
	overflow:hidden;
	background-color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:1878px;
	height:924px;
	position:absolute;
}
.e236_31 { 
	background-color:rgba(13.000000175088644, 13.000000175088644, 13.000000175088644, 1);
	width:1880px;
	height:168px;
	position:absolute;
	left:0px;
	top:0px;
}
.e236_32 { 
	background-color:rgba(13.000000175088644, 13.000000175088644, 13.000000175088644, 1);
	width:229px;
	height:766px;
	position:absolute;
	left:0px;
	top:158px;
}
.e236_33 { 
	width:93px;
	height:78px;
	position:absolute;
	left:69px;
	top:203px;
	background-image:url(images_reg1/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e236_34 { 
	width:91px;
	height:86px;
	position:absolute;
	left:70px;
	top:331px;
	background-image:url(images_reg1/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e236_35 { 
	width:78px;
	height:71px;
	position:absolute;
	left:76px;
	top:467px;
	background-image:url(images_reg1/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e244_16 { 
	width:1653px;
	height:756px;
	position:absolute;
	left:227px;
	top:168px;
	background-image:url(images_reg1/image_15.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e236_36 { 
	width:136px;
	height:80px;
	position:absolute;
	left:47px;
	top:39px;
	background-image:url(images_reg1/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e236_37 { 
	width:446px;
	height:88px;
	position:absolute;
	left:1434px;
	top:40px;
	background-image:url(images_reg1/image_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e236_38 { 
	background-color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:277px;
	height:290px;
	position:absolute;
	left:408px;
	top:168px;
	border: radius 10px;
}
.e236_39 { 
	color:rgba(255, 255, 255, 1);
	width:183px;
	height:45px;
	position:absolute;
	left:460px;
	top:191px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e236_40 { 
	background-color:rgba(255, 255, 255, 1);
	width:232px;
	height:6px;
	position:absolute;
	left:435px;
	top:249px;
	border:1px solid rgba(0, 0, 0, 1);
}
.e236_41 { 
	background-color:rgba(255, 255, 255, 1);
	width:232px;
	height:5px;
	position:absolute;
	left:435px;
	top:415px;
	border:1px solid rgba(0, 0, 0, 1);
}
.e236_42 { 
	color:rgba(255, 255, 255, 1);
	width:183px;
	height:148px;
	position:absolute;
	left:435px;
	top:261px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e236_43 { 
	background-color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:863px;
	height:746px;
	position:absolute;
	left:752px;
	top:178px;
}
.e236_44 { 
		color:rgba(255, 255, 255, 1);
		width:799px;
		height:395px;
		position:absolute;
		left:784px;
		top:252px;
		font-family:Inter;
		text-align:left;
		font-size:24px;
		letter-spacing:0;
}
.e236_46 { 
	color:rgba(255, 255, 255, 1);
	width:337px;
	height:58px;
	position:absolute;
	left:835px;
	top:586px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e236_47 { 
	color:rgba(255, 255, 255, 1);
	width:784px;
	height:268px;
	position:absolute;
	left:831px;
	top:656px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e236_48 { 
	background-color:rgba(71.00000336766243, 71.00000336766243, 71.00000336766243, 1);
	width:61px;
	height:59px;
	position:absolute;
	left:437px;
	top:509px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	border:1px solid rgba(255, 255, 255, 1);
}
.e236_49 { 
	background-color:rgba(71.00000336766243, 71.00000336766243, 71.00000336766243, 1);
	width:61px;
	height:59px;
	position:absolute;
	left:595px;
	top:509px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	border:0.25px solid rgba(0, 0, 0, 1);
}
.e236_50 { 
	background-color:rgba(71.00000336766243, 71.00000336766243, 71.00000336766243, 1);
	width:61px;
	height:59px;
	position:absolute;
	left:516px;
	top:509px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	border:0px solid rgba(255, 255, 255, 1);
}
.e236_51 { 
	color:rgba(255, 255, 255, 1);
	width:13px;
	height:30px;
	position:absolute;
	left:461px;
	top:525px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e236_52 { 
	color:rgba(255, 255, 255, 1);
	width:16px;
	height:30px;
	position:absolute;
	left:538px;
	top:524px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e236_53 { 
	color:rgba(255, 255, 255, 1);
	width:17px;
	height:30px;
	position:absolute;
	left:617px;
	top:524px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
