.e225_102 { 
	background-color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:1906px;
	height:924px;
	position:absolute;
	overflow:hidden;
}
.e225_103 { 
	background-color:rgba(13.000000175088644, 13.000000175088644, 13.000000175088644, 1);
	width:1906px;
	height:168px;
	position:absolute;
	left:0px;
	top:0px;
}
.e225_104 { 
	background-color:rgba(13.000000175088644, 13.000000175088644, 13.000000175088644, 1);
	width:227px;
	height:756px;
	position:absolute;
	left:0px;
	top:168px;
}
.e225_105 { 
	width:93px;
	height:78px;
	position:absolute;
	left:69px;
	top:203px;
	background-image:url(images_login/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e225_106 { 
	width:91px;
	height:86px;
	position:absolute;
	left:70px;
	top:331px;
	background-image:url(images_login/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e225_107 { 
	width:78px;
	height:71px;
	position:absolute;
	left:76px;
	top:467px;
	background-image:url(images_login/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e225_108 { 
	width:136px;
	height:80px;
	position:absolute;
	left:47px;
	top:39px;
	background-image:url(images_login/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e225_109 { 
	width:446px;
	height:88px;
	position:absolute;
	left:1434px;
	top:40px;
	background-image:url(images_login/image_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e244_8 { 
	width:1679px;
	height:756px;
	position:absolute;
	left:227px;
	top:168px;
	background-image:url(images_login/image_15.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e221_2 { 
	box-shadow:0px 4px 150px rgba(0, 0, 0, 0.699999988079071);
	background-color:rgba(28.68749924004078, 28.68749924004078, 28.68749924004078, 0.5799999833106995);
	width:515px;
	height:721px;
	position:absolute;
	left:836px;
	top:203px;
	border-radius:62px;
}
.e66_18 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:628px;
	height:75px;
	position:absolute;
	left:967px;
	top:309px;
	font-family:Inter;
	text-align:left;
	font-size:45px;
	letter-spacing:5;
}
.e66_17 { 
	background-color:rgba(255, 255, 255, 1);
	width:438px;
	height:1px;
	position:absolute;
	left:874px;
	top:385px;
}
.e49_240 { 
	color:rgba(255, 255, 255, 1);
	width:155px;
	height:49px;
	position:absolute;
	left:1119px;
	top:835px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:5;
}
.e49_237 { 
	color:rgba(255, 255, 255, 1);
	width:155px;
	height:62px;
	position:absolute;
	left:923px;
	top:835px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:5;
}
.e38_851 { 
	background-color:rgba(55.24999290704727, 207.05994844436646, 255, 1);
	width:217px;
	height:46px;
	position:absolute;
	left:967px;
	top:731px;
	border-radius:10px;
}
.e38_853 { 
	color:rgba(255, 255, 255, 1);
	width:283px;
	height:62px;
	position:absolute;
	left:1038px;
	top:736px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:5;
}
.e49_160 { 
	color:rgba(255, 255, 255, 1);
	width:81px;
	height:62px;
	position:absolute;
	left:1041px;
	top:409px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:5;
}
.e49_162 { 
	color:rgba(255, 255, 255, 1);
	width:89px;
	height:62px;
	position:absolute;
	left:1037px;
	top:517px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:5;
}
.e59_2 { 
	background-color:rgba(187.00000405311584, 187.00000405311584, 187.00000405311584, 1);
	width:390px;
	height:46px;
	position:absolute;
	left:884px;
	top:458px;
	border-radius:10px;
}
.e59_3 { 
	background-color:rgba(187.00000405311584, 187.00000405311584, 187.00000405311584, 1);
	width:390px;
	height:46px;
	position:absolute;
	left:884px;
	top:568px;
	border-radius:10px;
}
