
.e226_13 { 
	background-color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:1924px;
	height:1024px;
	position:absolute;
	overflow:hidden;
}
.e226_14 { 
	background-color:rgba(13.000000175088644, 13.000000175088644, 13.000000175088644, 1);
	width:1924px;
	height:168px;
	position:absolute;
	left:0px;
	top:0px;
}
.e226_15 { 
	background-color:rgba(13.000000175088644, 13.000000175088644, 13.000000175088644, 1);
	width:227px;
	height:856px;
	position:absolute;
	left:0px;
	top:168px;
}
.e226_16 { 
	width:93px;
	height:78px;
	position:absolute;
	left:69px;
	top:203px;
	background-image:url(images4/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e226_17 { 
	width:91px;
	height:86px;
	position:absolute;
	left:70px;
	top:331px;
	background-image:url(images4/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e226_18 { 
	width:78px;
	height:71px;
	position:absolute;
	left:76px;
	top:467px;
	background-image:url(images4/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e226_19 { 
	width:136px;
	height:80px;
	position:absolute;
	left:47px;
	top:39px;
	background-image:url(images4/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e226_20 { 
	width:446px;
	height:88px;
	position:absolute;
	left:1434px;
	top:40px;
	background-image:url(images4/image_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e226_21 { 
	width:829px;
	height:856px;
	position:absolute;
	left:209px;
	top:168px;
	background-image:url(images4/image_10.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e226_22 { 
	width:895px;
	height:856px;
	position:absolute;
	left:1029px;
	top:168px;
	background-image:url(images4/image_11.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e80_347 { 
	box-shadow:0px 4px 30px rgba(0, 0, 0, 0.20000000298023224);
	background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.4000000059604645) 13.02083283662796%,rgba(212.4999949336052, 212.4999949336052, 212.4999949336052, 0.38895493745803833) 60.41666865348816%,rgba(255, 255, 255, 0.3880239427089691) 99.98999834060669%,rgba(13.000000175088644, 13.000000175088644, 13.000000175088644, 0) 100%,rgba(0, 0, 0, 0) 100%) ;
	opacity:0.800000011920929;
	width:1715px;
	height:872px;
	position:absolute;
	left:209px;
	top:152px;
	border:1px solid rgba(0, 0, 0, 1);
}
.e80_348 { 
	background-color:rgba(89.00000229477882, 89.00000229477882, 89.00000229477882, 1);
	width:258px;
	height:109px;
	position:absolute;
	left:770px;
	top:838px;
	border-radius:100px;
}
.e80_349 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:130px;
	height:89px;
	position:absolute;
	left:887px;
	top:847px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e80_350 { 
	background-color:rgba(89.00000229477882, 89.00000229477882, 89.00000229477882, 1);
	width:259px;
	height:108px;
	position:absolute;
	left:764px;
	top:371px;
	border-radius:100px;
}
.e80_351 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:130px;
	height:89px;
	position:absolute;
	left:884px;
	top:380px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e80_352 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:130px;
	height:89px;
	position:absolute;
	left:887px;
	top:848px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e80_353 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:130px;
	height:89px;
	position:absolute;
	left:887px;
	top:678px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e80_354 { 
	background-color:rgba(89.00000229477882, 89.00000229477882, 89.00000229477882, 1);
	width:258px;
	height:109px;
	position:absolute;
	left:770px;
	top:512px;
	border-radius:100px;
}
.e80_355 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:130px;
	height:89px;
	position:absolute;
	left:887px;
	top:521px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e80_356 { 
	background-color:rgba(89.00000229477882, 89.00000229477882, 89.00000229477882, 1);
	width:258px;
	height:109px;
	position:absolute;
	left:770px;
	top:668px;
	border-radius:100px;
}
.e80_357 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:130px;
	height:89px;
	position:absolute;
	left:887px;
	top:677px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e80_358 { 
	color:rgba(255, 255, 255, 1);
	width:463px;
	height:82px;
	position:absolute;
	left:268px;
	top:203px;
	font-family:Inter;
	text-align:left;
	font-size:45px;
	letter-spacing:5;
}
.e80_359 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1493px;
	height:5px;
	position:absolute;
	left:268px;
	top:268px;
}
.e80_360 { 
	color:rgba(255, 255, 255, 1);
	width:717px;
	height:118px;
	position:absolute;
	left:1008px;
	top:394px;
	font-family:Inter;
	text-align:center;
	font-size:45px;
	letter-spacing:0;
}
.e80_361 { 
	color:rgba(255, 255, 255, 1);
	width:400px;
	height:59px;
	position:absolute;
	left:1131px;
	top:524px;
	font-family:Inter;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}
.e80_362 { 
	color:rgba(255, 255, 255, 1);
	width:235px;
	height:59px;
	position:absolute;
	left:1131px;
	top:693px;
	font-family:Inter;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}
.e80_363 { 
	color:rgba(255, 255, 255, 1);
	width:545px;
	height:59px;
	position:absolute;
	left:1131px;
	top:862px;
	font-family:Inter;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}
