* { 
	transform: scale(0.75); 
}

.e224_78 { 
	overflow:hidden;
	background-color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:1924px;
	height:1024px;
	position:absolute;
}
.e224_79 { 
	background-color:rgba(13.000000175088644, 13.000000175088644, 13.000000175088644, 1);
	width:1924px;
	height:168px;
	position:absolute;
	left:0px;
	top:0px;
}
.e224_80 { 
	background-color:rgba(13.000000175088644, 13.000000175088644, 13.000000175088644, 1);
	width:227px;
	height:856px;
	position:absolute;
	left:0px;
	top:168px;
}

.e224_81 { 
	width:93px;
	height:78px;
	position:absolute;
	left:69px;
	top:203px;
	background-image:url(images6/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.e224_82 { 
	width:91px;
	height:86px;
	position:absolute;
	left:70px;
	top:331px;
	background-image:url(images6/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e224_83 { 
	width:78px;
	height:71px;
	position:absolute;
	left:76px;
	top:467px;
	background-image:url(images6/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e224_84 { 
	width:136px;
	height:80px;
	position:absolute;
	left:47px;
	top:39px;
	background-image:url(images6/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e224_85 { 
	width:446px;
	height:88px;
	position:absolute;
	left:1434px;
	top:40px;
	background-image:url(images6/image_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e224_86 { 
	background-color:rgba(255, 255, 255, 0.10000000149011612);
	width:277px;
	height:290px;
	position:absolute;
	left:408px;
	top:168px;
}
.e224_87 { 
	color:rgba(255, 255, 255, 1);
	width:183px;
	height:45px;
	position:absolute;
	left:460px;
	top:191px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e224_88 { 
	background-color:rgba(255, 255, 255, 1);
	width:232px;
	height:6px;
	position:absolute;
	left:435px;
	top:249px;
	border:1px solid rgba(0, 0, 0, 1);
}
.e224_89 { 
	background-color:rgba(255, 255, 255, 1);
	width:232px;
	height:5px;
	position:absolute;
	left:435px;
	top:415px;
	border:1px solid rgba(0, 0, 0, 1);
}
.e224_90 { 
	color:rgba(255, 255, 255, 1);
	width:183px;
	height:148px;
	position:absolute;
	left:435px;
	top:261px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e224_91 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	opacity:0.10000000149011612;
	width:863px;
	height:850px;
	position:absolute;
	left:752px;
	top:178px;
}
.e224_92 { 
	color:rgba(255, 255, 255, 1);
	width:799px;
	height:395px;
	position:absolute;
	left:835px;
	top:289px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e224_93 { 
	color:rgba(255, 255, 255, 1);
	width:446px;
	height:58px;
	position:absolute;
	left:835px;
	top:226px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e224_94 { 
	color:rgba(255, 255, 255, 1);
	width:337px;
	height:58px;
	position:absolute;
	left:835px;
	top:692px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e224_95 { 
	color:rgba(255, 255, 255, 1);
	width:784px;
	height:268px;
	position:absolute;
	left:835px;
	top:756px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e224_96 { 
	background-color:rgba(71.00000336766243, 71.00000336766243, 71.00000336766243, 1);
	width:61px;
	height:59px;
	position:absolute;
	left:437px;
	top:509px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	border:1px solid rgba(255, 255, 255, 1);
}

.e224_97 { 
	background-color:rgba(71.00000336766243, 71.00000336766243, 71.00000336766243, 1);
	width:61px;
	height:59px;
	position:absolute;
	left:595px;
	top:509px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	border:0.25px solid rgba(0, 0, 0, 1);
}
.e224_98 { 
	background-color:rgba(71.00000336766243, 71.00000336766243, 71.00000336766243, 1);
	width:61px;
	height:59px;
	position:absolute;
	left:516px;
	top:509px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	border:0.25px solid rgba(0, 0, 0, 1);
}

.e224_99 { 
	color:rgba(255, 255, 255);
	width:13px;
	height:30px;
	position:absolute;
	left:461px;
	top:525px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e224_100 { 
	color:rgba(255, 255, 255);
	width:16px;
	height:30px;
	position:absolute;
	left:538px;
	top:524px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e224_101 { 
	color:rgba(255, 255, 255);
	width:17px;
	height:30px;
	position:absolute;
	left:617px;
	top:524px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
